:root {
  --bg-color-gray: #2f303a;
  --bg-color-white: #ffffff;
}

body {
  background-color: #e5e5e5;
}

.center {
  text-align: center;
}

.three li {
  display: inline-block; /* Отображать как строчный элемент */
}
 
   .line {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    margin-right: 5px; /* Отступ слева */
    /* border: 1px solid #000; Рамка вокруг текста
    padding: 3px; Поля вокруг текста */

/* Класс скрывающий элементы */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
